/* Header section  */

 .menu-logo{
    width: 130px;
    margin-top: 10px;
}
.nav-bg{
   background-color: rgba(0, 0, 0, 0.0)  !important;
   transition:background-color 400ms linear;
   -webkit-transition:background-color 400ms linear;
   -o-transition:background-color 400ms linear;
   -moz-transition:background-color 400ms linear;
 
}
.nav-bgScroll{
   background-color: white !important;
   transition:background-color 400ms linear;
   -webkit-transition:background-color 400ms linear;
   -o-transition:background-color 400ms linear;
   -moz-transition:background-color 400ms linear;
}

.nav-title{
   text-decoration: none;
   color: #fff !important ;
   font-size: 24px;
   font-weight: 700;
   text-decoration: none !important;
   
}
.nav-titleScroll{
   text-decoration: none;
   color: #f0ad39 !important;
   font-size: 24px;
   font-weight: 700;
   text-decoration: none !important;
   
}

.menu-item{
   color: #fff !important ;
   text-decoration: none;
   font-weight: 500;
   font-size: 20px;
   margin-right: 15px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
   
}
.menu-itemScroll{
   color: rgb(36, 13, 90) !important;
   text-decoration: none;
   font-weight: 500;
   font-size: 20px;
   margin-right: 15px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.menu-item:hover{
   color:#dfaa4f !important;
   border-bottom: 2px solid #dfaa4f !important;
}
.menu-itemScroll:hover{
   border-bottom: 2px solid #dfaa4f !important;
   color:#dfaa4f !important;
};  


/* Banner SLIDER section */

.slide{
 text-align: center;
}

.sliderTitle{
  text-align: left !important;
  font-size: 70px;
  color: #fff ;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 1px;
  margin-bottom: 60px ;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

}
.sliderDescription{
  text-align: left !important;
  font-size: 32px ;
  color: #ff7f47 ;
  font-weight: 500 ;
  letter-spacing: 1px;
  margin-bottom: 120px ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.sliderBtn {  
   position: absolute;
   top: 75%;
} 

.sliderBtn a {
  width: 160px;
  border: 2px solid #ff7f47;
  border-radius: 5px;
  padding: 5px 0px;
  text-decoration: none;
  text-align: center;
  font-size: 22px ;
  color: #fff ;
  display: inline-block;
  font-weight: 500 ;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.sliderBtn:hover a{
   font-size: 22px !important;
   font-weight: 500 ;
}
 .sliderBtn a span{
   width: 15% ;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px; 
   background-color: #ff7f47;
   transition: .5s ;
   z-index: -1;

} 

.sliderBtn a:hover span{
   width: 100%;
   border-radius: 0;
   
}


.social-link a {
   font-size: 18px;
   display: inline-block;
   background: #1a1814;
   color: #fff;
   line-height: 1;
   padding: 8px 0;
   margin-right: 7px;
   border-radius: 50%;
   text-align: center;
   width: 35px;
   height: 35px;
   transition: 0.4s;
 }
 .social-link a:hover {
   background: #ecba62;
   color: #fff;
   text-decoration: none;
   transform: translateY(-6px);

 }



 /* Find Search Area */

 .fromSection{
   text-align: center;
}

.col1{
   position: relative;
   z-index: 12;
}
 .findBox{
   position: absolute;
    padding: 33px 0px;
    background-color: #0c3f32c2;
    border-radius: 20px;
    position: absolute;
    margin: auto;
    z-index: 1;
    margin-top: -32px;   
   
 } 
 .findItem{
   padding: 2px;
   margin-top: 2px;
   background-color: #fff;
   border-radius: 10px;
   align-items: center;
   margin: auto;
 }
 .findInput{
    width: 13rem;
    border: 3px solid gray !important;
    font-family: inherit;
    font-size: inherit;
    border-radius: 7px;
    margin-right: 30px;
    padding: 10px;
    outline: none !important;
  
 }
 .findInput:hover{
   border-color: #f0885b !important;
 }
 .findInput:focus{
   border-color: green !important;
 }
 

 .selectItem{
  
   padding: 10px;
   border-radius: 5px;
   margin-right: 30px;
   width: 13rem;
   outline: none !important;
}
.findOption{
   color: #df5215; 
}

.findBtn{
   width: 13rem;
   background-color: #ff7f47;
   color: white;
   border: 1px solid #ff7f47 !important;
   outline: none;
   border-radius: 7px;
   padding: 10px;

}



@media (min-width: 376px) and (max-width: 475.98px) { 

   .findArea{
      width: 70%;
      margin-left: 1.5rem;
     
   }


   

}
@media (min-width: 476px) and (max-width: 535.98px) { 

   

}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
 
  
   .findBtn{
     
      margin-top: 5px;
   }

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   .findBtn{
    
      margin-top: 5px;
   }
   .findArea{
      width: 70%;
      margin-left: 3.5rem;
     
   }

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   

 }





/* services AREA */
.bg-feature{
   background-color: white;
   padding-bottom: 25px;
   margin-top: 70px;
 
}
.feature-box{
   
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.5s;
  background: #1a1814;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}
.feature-box:hover{
   background: #cea256;
   padding: 30px 30px 50px 30px;
   box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
   
}
.feature-head{
   color:#dd9d2d;
   text-align: center;
   margin-bottom: 24px;
}

.featureImg{
   width: 130px;
   height: 130px;
   margin: auto;
   border-radius: 50%;

}

.featureImg:hover{
   background-color: #daaa57;


}

.feature-title{
   text-align: center;
   margin-top: 25px;
   font-size: 23px;
   color: rgb(209, 205, 205);
   letter-spacing: 1.5px;
 }
 .feature-box p {
   color: #727171;
   font-size: 15px;
   margin: 0;
   padding: 0;
   text-align: justify;
 }
  .feature-box:hover h3, .feature-box:hover p {
   color: #fff;
 }


/* Single service */
.service1{
   
   /* padding: 0px 0px 15px 0px; */
   box-shadow: inset 5px 5px 5px rgba(0,0,0,0.03),
               inset -5px -5px 5px rgba(255,255,255,0.5),
               5px 5px 5px rgba(0,0,0,0.03),
               -5px -5px 5px rgba(255,255,255,0.5);
   border-radius: 15px;            
  
 }

  .box{
    margin: 20px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    padding-bottom: 10px ;
 }
 .service1:hover .box{
    transform: translateY(-40px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
 }
 .service1:hover .box .card-btn{
   background-color: #f06022;
   color: white;
 }

.serviceTitle{
   color: #f0885b;
}

.serviceDescription{
   color: rgb(17, 17, 78);
   font-weight: 800;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

 .services-img {
   width: 100%;
   height: 100%;
   margin: auto;
  
 }

 .service-meta {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #535252;
 
 }

 .service-meta .text1{
    margin: 0;
    padding: 0;
 }

 .services-title {
   margin-top: 10px;
   margin-bottom: 6px;
   font-size: 20px;
   color: #ff7f47;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .text2{
    padding-bottom: 25px;
 }

 .card-btn {
   padding: 8px 40px;
   background-color: #fff;
   border: 1px solid #f0885b;
   color: #f0885b;
   text-decoration: none;
   border-radius: 20px;
   font-weight: 500;
   font-size: 18px;  
   margin-top: 10px;
 } 



 /*   Blog section */

.blogSection {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.4);
	/* margin:30px auto; */
	align-items: center;
	padding:20px 20px;
	position: relative;
	border-radius: 10px;
}

.blog{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}

.blogBox{
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
	background-color:#FFFFFF;
	/* height: 350px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 15px;
	position: relative;
	margin: 10px 10px;
   padding-bottom: 20px;
   transition: 0.4s;
   margin-bottom: 30px;

}

.blogBox img {
   width: 100%;
	height: 90%;
}

 .blogBox p{
	/* color:#4d4d4d70; */
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 0.9rem;
	letter-spacing: 0.5;
    text-align: center;
} 
.blogBox a{
	color:#2c2c2c;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1rem;
}

.detailBtn{
    color: #ffffff !important;
    font-size: 18px !important;
    text-decoration: none;
	position: absolute;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	left: 50%;
	bottom: -20px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
	animation: fade 0.3s;
}

.buyNowBtn{
    color: #ffffff !important;
    font-size: 16px !important;
    text-decoration: none;
    padding: 5px 20px;
    background-color: #6b60ec;
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
}


.blogBox:hover{
	/* box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); */
	/* background-color:#FFF; */
   transform: translateY(-20px);
}

/*  Review Section */
.swiper{
   width: 900px;
}
.review-card{
   background-color: #fff;
   border-radius:20px;
   position: relative;
   width: 250px;
}

.review-card::before{
   content: "";
   background-color: #0f5241;
   position: absolute;
   height: 40%;
   width: 100%;
   border-radius: 20px 20px 0 0;
}

.card-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   position: relative;
   z-index: 100;
}
.card-image{
   height: 130px;
   width: 130px;
   border-radius: 50%;
   padding: 5px;
   background-color: #b1adad;

}

.card-image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 50%;
   border: 3px solid #fff;
}

.card-icon{
   position: absolute;
   top: 17px;
   right: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card-icon .media-icon{
 color: #fff;
 opacity:0.7;
 margin-top: 10px;
 transition: all 0.4s ease;
}
.card-icon .media-icon:hover{
   opacity: 1;
}

.card .user-name{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;
   color: #333;
}

.user-name .names{
   font-size: 22px;
   font-weight: 600;
   text-align: center;
   margin-top: 10px;
}

.user-name .reviews{
   font-size: 17px;
   font-weight: 500;
   text-align: justify;
   letter-spacing: 0px;
}



 /* newsletter section */
 .newsletter{
    background-color: #304f47;
    width:70% ;
    margin: auto;
    z-index: 1;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

 .newsTitle{
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    letter-spacing: 1.5px;
 }

 .newsForm{
    width: 70%;
    margin: auto;
    padding: 15px 0px;
 }
 .newsInput{
   margin-top: 30px;
   padding: 13px;
   outline: none !important;
   border: none !important;
 }
 .newsBtn{
   padding: 13px;
   margin-top: 30px;
   width: 11rem;
   font-weight: 700;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 24px;
   letter-spacing: 1.5px;
   background-color: #ff7f47;
   color: white;
   border: none !important;

 } 

 .newsBtn:hover{
    background-color:#262339 !important ;
    transition: .5s;
 }



 
/* Footer Section */
.footer-bg{
  background-color: #262339;
  padding-top: 140px;
  padding-bottom: 20px;
  margin-top: -100px;
  z-index: -1;
}
.footerDescription{
   color: rgb(230, 225, 225);
   margin-top: 40px;
   font-weight: 500;

}

.footerTitle{
   color: white;
   font-weight: 600;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-top: 20px;
}

.footerSocial a {
   font-size: 18px;
   display: inline-block;
   background: #fff;
   color: #e05d25;
   line-height: 1;
   padding: 8px 0;
   margin-top: 15px;
   margin-right: 10px;
   border-radius: 50%;
   text-align: center;
   width: 37px;
   height: 37px;
   transition: 0.5s;
 }
 .footerSocial a:hover {
   background: #e4ab49;
   color: #fff;
   text-decoration: none;
   transform: translateY(-6px);
 }

.footerContact{
   display: flex;
   align-items:center;
   justify-content:center;
   color: white;
   margin-top: 10px;
   font-weight: 500;
}

a{
   text-decoration: none;
   color: rgb(230, 225, 225);
   font-weight: 500;
}
a:hover{
   text-decoration: none !important;
   color: white !important;
   font-weight: 500;

}

.footerIcon{
   color: #ff7f47;
   font-size: 16px;
   margin-top: 25px;
}


.support{
   width: 110px;
   margin: auto;
}
.footerSupport{
   display: flex;
   align-items:center;
   justify-content:left;
   margin-top: 15px;
}

.footerPayment{
   width: 170px;
   margin-left: 70px;

}

.copyright{
   width: 370px;
   margin: auto;
}